           /* common styles or utilities part start */
main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color:whitesmoke;
      
}
.container{
    width:100%; 
    margin:10px;
    border-radius: 5px;
    padding:20px;   
}
.second-container{
    width:80%;
    margin:15px;
    border-radius: 7px;
    padding:15px;   
}
body{
    font-family: 'Luxurious Roman', cursive;
}
             /* .influencer-part-start */
button{
  background-color: rgba(241, 8, 86, 0.753);
  color:whitesmoke;
  padding:7px;
  border-radius: 50px;
  border:none;
}
                /* first section anchor tag */
.influencer a{
    text-decoration: none;
    color:whitesmoke;
}
h1{
    font-size: 40px;
}
                /* Grid templates coloumn */
.influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 90px;
}
.influencer img{
    height: 300px;
    width:300px;
    padding-left: 100px;
}  
.moving-influencer:hover{
    border:2px solid pink;
}
                 /* Star of Icon part start */
.fa-star{
    color:rgb(245, 161, 7);
    font-size:8px;
}
.fa-star-half-alt{
    color:rgb(251, 167, 9);
    font-size:8px;
}
                 /* product collection-part-start */
.product img{
    height: 250;
    width:220px;
    border-radius: 10px;
}
.product-title{
    text-align: center;
}
.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.product-info{
    margin:15px;
    padding:10px;
    border-radius:10px;
    margin:10px;
    box-shadow: 10px 10px 10px gray;
}
                /* .E-commerce site part start */
.e-commerce{
    display: flex;
    justify-content: space-evenly;  
}
hr{
    border:1px solid lightgrey;
}
.sign{
    color:rgba(241, 8, 86, 0.753);
    margin-left:70%;
}
                 /* Extraordinary part start */
.extraordinary img{
    height:350px;
    width:350px;
    border-radius: 20px;
}
.extraordinary{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items:center;
   width:90%;
   margin-left:60px;
} 
.login a{
    text-decoration: none;
    color:whitesmoke;
}
                   /* Footer part start */
footer{
    background-color:rgb(1, 1, 34);
    height:auto;
    width:100%;
    text-align: center;
    color:white;
}
.footvar{
    font-size:10px;
}
.icon{
    margin-bottom:25px;
}
p{
    font-size:12px;
}
/*-------------------------------------------
               Media Queries 
------------------------------------------*/
             /* Mobile Devices */
  @media only screen and (max-width:688px){
    .container{
        width:100%;
    }
    .influencer, .product, .extraordinary{
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
        
    }
    .e-commerce{
        flex-direction: column;
        flex-wrap:wrap;
        
    }
    .extraordinary{
        margin-left:0%;
    }
    h1{
        font-size:22px;
    }
    main{
        justify-content: center;
    }
   
    .influencer img {
        height: 200px;
        width: 200px;
        padding-left:0px;
    }
    .extraordinary img{
        height:200px;
        width:200px;
        padding-left:0%;
    }
}

                         /* Tablet Devices */
@media only screen and (min-width:688px)  and (max-width:992px) {
    .container{
        width:100%;
    }
    .influencer, .product, .extraordinary{
        justify-items: center;
        grid-template-columns: repeat(2,1fr);
        
    }
    .e-commerce{
        flex-direction: column;
        flex-wrap:wrap;
        
    }
    .extraordinary{
        margin-left:0%;
    }
    h1{
        font-size:22px;
    }
    main{
        justify-content: center;
    }
    .influencer img {
        height: 200px;
        width: 200px;
        padding-left:0px;
    }
    .extraordinary img{
        height:200px;
        width:200px;
        padding-left:0%;
    }
}


